/*sylesheet for landing page*/

.header{
    
    background-color: #1f2937;
    color:white;
    font-family: Roboto;

}

.headertop {
    display:flex;
    justify-content: space-around;
    padding:8px;

}

ul {
    list-style-type: none;
    display:flex;
    margin: 0;
    padding: 20px;
    gap: 16px;
}


.headerbottom{
    display:flex;
    justify-content:space-evenly;
    flex-direction: column;
    padding: 50px;
    align-content:center ;
    position:relative;
}



button {
    display:flex;
    align-self: flex-start;
    background-color:#3882F6;
    color:white;
    padding:8px;
    width: 100px;
    justify-content: center;
    border-radius: 12px;
    font-weight: bold;
}

.info {
    display:flex;
    flex-direction: column;
    justify-content:center;
    width: 350px;
    
    
    
}

.container {
    display:flex;
    justify-content: space-around;
    align-self:flex-end;
    padding: 50px;
    align-items: center;
    Background: grey;
    height:50px;
    width:220px;
    position:absolute;
    margin-top: 40px;
    
}

.random {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;

}

.c {

    display:flex;
    flex-direction: row;
    justify-content: center;
    
}

img {
    height:150px;
    width:150px;
    justify-content: space-between;
}